cmd2~=1.5.0
pip~=21.0.1
attrs~=20.3.0
colorama~=0.4.4
wcwidth~=0.2.5
pyperclip~=1.8.2
setuptools~=54.0.0
pyreadline3~=3.3
blessings~=1.7
prettytable
peewee
scapy
python-nmap
ipaddress
netifaces
psutil
tinydb
shodan
