cmd2~=1.5.0
pip~=21.0.1
attrs~=20.3.0
wcwidth~=0.2.5
pyperclip~=1.8.2
setuptools~=54.0.0
pyreadline3~=3.3
blessed~=1.18.1
prettytable~=2.0.0
peewee
scapy~=2.4.4
python-nmap~=0.6.4
ipaddress~=1.0.23
netifaces~=0.10.9
psutil
tinydb~=4.4.0
shodan~=1.25.0
paho-mqtt~=1.5.1
timebudget~=0.7.1
pyshark~=0.4.3
loguru~=0.5.3
